@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');


:root {
    --color-primary: #205375;
    --color-secondary: #F66B0E;
}
body {
    font-family: 'montserrat';
}

a {
    text-decoration: none;
    color: inherit;
}

.profile {
    width: 40px;
    height: 40px;
    overflow: hidden;
    background-color: aqua;
    border-radius: 50%;
    font-size: 1rem;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas:
    "side head"
    "side main";
    grid-template-columns: minmax(300px, 1fr) 5fr;
    grid-template-rows: 1fr 5fr;
    overflow: auto;
}

.header {
    grid-area: head;
    display: grid;
    grid-template-areas:
    "search profile"
    "welcome actions";
    padding: 0.5% 2%;
    grid-template-columns: 4fr 1fr;
    box-shadow: 25px 0px 20px -10px rgb(92, 99, 96);
    z-index: 1;
    font-weight: 700;
    gap: 50px;
    padding: 30px 80px;
}

.search-container {
    grid-area: search;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search-container>input[type="search"] {
    flex-grow: 1;
    max-width: 1000px;
    height: 2rem;
    border-radius: 100px;
    border: none;
    background-color: rgb(230, 230,230);
    padding-left: 1rem;
    font-weight: 400;
}

.search-container>input[type="search"]:focus {
    border:none;
}

.profile-container {
    grid-area: profile;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
}

.profile-container>* {
    display: inline-block;
}

.welcome-container {
    grid-area: welcome;
    display:flex;
    gap: 15px;
    align-items: center;
}

.welcome-container>.profile {
    grid-area: profile;
    width: 50px;
    height: 50px;
}

.welcome-message>*:nth-last-child(1) {
    font-size: 1.5rem;
    line-height: 3rem;
}

.actions-container {
    grid-area: actions;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: end;
}

.actions-container button {
    background-color: var(--color-primary);
    border: solid;
    border-radius: 5rem;
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    width: 8rem;
    height: 3rem;
    margin: 0 10px;
    transition: 0.1s;
}

.actions-container button:hover {
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    background-color: white;
    cursor: pointer;
}

.side-panel {
    padding: 10%;
    grid-area: side;
    display: flex;
    flex-direction: column;
    gap: 60px;
    background-color: var(--color-primary);
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
}

.side-panel>* {
    /* Primary and Secondary Nav*/
    display: grid;
    gap: 20px;
}

.side-panel i {
    margin-right: 20px;
}

.main-container {
    box-sizing: border-box;
    grid-area: main;
    display: grid;
    grid-template-areas:
    "projects announcements"
    "projects trending";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 50% 50%;
    overflow: auto;
    padding: 25px;

}

.projects {
    grid-area: projects;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 2rem;
    grid-auto-rows: 270px;
    gap: 30px;
}

.projects>*:first-child {
    grid-column: 1 / -1;
    align-self: end;
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 1rem;
}

.card {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    padding-left: 40px;
    display: grid;
    grid-template-rows: 1.5rem 1fr 1.5rem;
    gap: 20px;
    border-left: 15px solid var(--color-secondary);
    border-radius: 15px;
    transition: 0.3s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-weight: 700;
    font-size: 1.5rem;
}

.card-body {
    overflow: hidden;
    padding-right: 1rem;
}

.card-actions {
    justify-self: end;
}

.card-actions>* {
    margin-left: 10px;
    transition: 0.2s;
}

.card-actions>*:hover {
    cursor: pointer;
    color: var(--color-secondary);
}

.annoouncments {
    grid-area: announcements;
}

.trending {
    grid-area: trending;
}